html {
	width: 100%;
	max-width: 100%;
	max-height: 100%;
}

body {
  font-size: 14px;
  line-height:  1.2em;
}

.about_me, .projects {
	display: flex;
	flex-wrap: wrap;
	
}
.header__title, .section__title, .about__title {
	font-size: auto;
}

@media screen and (max-width: 609px) {
  .header__title, .project__title, #project .git {
  	display: none;
  }
  .projects img{
  	flex-flow: column wrap;
  	padding: 5px 5px 5px 5px ;
  }
}

@media screen and (max-width: 610px) {
  .logo {
    height: 50%;
    margin-right: 0.5em;
    padding: 0.5em;
  }
  .header__title, 
  .section__title, 
  .about__title, 
  .project__title {
    margin-left: 0;
    font-size: 1.3em;
    vertical-align: bottom; 
  }
}
