/*font-family: 'Roboto', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;*/

body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: #23x49;
}

h2 {
	text-transform: uppercase;
}

img {
	display: block;
  margin: auto;
  max-width: 100%;
}

.text-muted {
	color: #2d3x49;
}

.text-thin {
	font-weight: 100;
}
.black {
	color: black;
}
/* Header */

header hr {
	border-top: 2px solid grey;
	max-width: 100%;
}

.logo {
	display: inline;
	padding: 10px;
  width: 125px;
  border-radius: 50%;
}

/* About Me Section */
#about-me {
	background: lightgrey;
	padding: 0;
	max-width: 100%;
}

#about-me p {
	padding-left: 70px;
	padding-right: 70px;
}
/* Projects */

#projects {
	max-width: 100%;
}

#project img {
	text-align: center;
}

.title, .git {
	text-align: center;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 10px;
}


/* Footer */
[class*="zocial-"]:before {
  color: darkblue;
  display: inline-block;
  font-family: 'zocial', sans-serif;
  text-shadow: 2px 2px 2px lightblue;
  width: 2em;
}

a:hover [class*="zocial-"]:before {
 	color: #3d85c6;
}

footer {
  margin: 0 auto;
  width: 800px;
}

div#social a {
 	margin: 0 1em 0 0;
}

div#social a:last-of-type {
 	margin: 0;
}

div#social {
  line-height: 2em;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  
}

@media only screen and (max-width:900px) {
  
}

@media only screen and (max-width: 750px) {
 
}


