body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: #23x49;
}

.text-muted {
	color: #2d3x49;
}

.text-thin {
	font-weight: 100;
}

/* Header */

header hr {
	border-top: 2px solid grey;
	max-width: 100%;
}

/* About Me Section */
#about-me {
	background: lightgrey;
	padding: 0;
	max-width: 100%;
}

#about-me p {
	padding-left: 70px;
	padding-right: 70px;
}
/* Projects */

#projects {
	max-width: 100%;
}

#project img {
	align-self: center;
}
/* Footer */



