[class*="zocial-"]:before {
  color: #2d3c49;
  display: inline-block;
  font-family: 'zocial', sans-serif;
  text-shadow: 2px 2px 2px #7d97ad;
  width: 2em;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: #2d3c49;
}

img {
	display: block;
  margin: auto;
  max-width: 100%;
}

/* Header */
header hr {
  border-top: 2px solid #7d97ad;;
  max-width: 100%;
}

.header_title {
  text-transform: uppercase;
  font-weight: 100;
  text-align: right;
}

.logo {
	display: inline;
	padding: 10px;
  width: 125px;
  border-radius: 50%;
}

/* About Me Section */
.about_me {
	background: lightgrey;
	padding: 0;
	max-width: 100%;
}

.about_title {
  text-align: center;
}

.about_me p {
	padding: 0 10px 0 10px;
}

/* Projects */
.section_title {
  color: #7d97ad;
  font-weight: 200;
}

.projects {
	max-width: 100%;
}

.project_title {
  text-transform: uppercase;
}

.project_title, .git {
	text-align: center;

}

.image-responsive:hover {
  opacity: 0.2;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* Footer */
a:hover [class*="zocial-"]:before {
 	color: #3d85c6;
}

footer {
  margin: 0 auto;
  text-align: center;
}

div#social a {
 	margin: 0 1em 0 0;
}

div#social a:last-of-type {
 	margin: 0;
}

div#social {
  line-height: 2em;
}
